.section {
    display: flex;
    gap: 40px;
    padding: 10%;
}

.new {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
}

.section5 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 210px;
    text-align: center;
    /*transition: transform 0.2s;*/
    transform: translateY(-10px);
    margin-top: -70px;
    margin-left: 92px;
}


